[include]
	path = ~/.gitconfig.local
[color]
	ui = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
	b = branch -a
	br = browse-remote
	sh = show
	cm = commit
	cmm = commit -m
	co = checkout
	d = diff
	dc = diff --cached
	di = diff
	dic = diff --cached
	dw = diff --word-diff
	dcw = diff --cached --word-diff
	diw = diff --word-diff
	dicw = diff --cached --word-diff
	dn = diff --numstat
	din = diff --numstat
	f = fetch --prune
	fs = !git f && git su
	ignore = !([ ! -e .gitignore ] && touch .gitignore) | echo $1 >> .gitignore
	info = remote show origin
	l = log  --decorate --oneline --graph
	ll = log  --decorate --stat --abbrev-commit
	ls = log  --decorate --graph
	la = log  --decorate --oneline --graph --all
	lla = log  --decorate --stat --abbrev-commit --all
	lsa = log  --decorate --graph --all
	s = status --short --branch
	st = status
	unstage    = reset HEAD --
	cancel     = reset --soft HEAD^
	me         = !git config --get-regexp user
	today = log --decorate --oneline --since='12 hour ago' --pretty=format:'%C(yellow)%h%Creset %s %C(green)- %an, %cr%Creset'
	pullrebase = pull --rebase
	addall = add --all
	sed =  "!f () { git grep -l $1 | xargs sed -i s/$1/$2/g; }; f"
	subadd = "!f () { git subtree add --prefix=${1}  --squash ${2}  ${3} ;};f"
	subpush = "!f () { git subtree push --prefix=${1}  --squash ${2}  ${3} ;};f"
	subpull = "!f () { git subtree pull --prefix=${1}  --squash ${2}  ${3} ;};f"
	rc = rm --cached
	pushf = push --force-with-lease
[push]
	default = simple
